@font-face {
  font-family: 'Oswald';
  src: url('fonts/Oswald-Regular.ttf') format('truetype');
  font-family: 'Pixel';
  src: url("fontes/Pixel.ttf");
}

 *{
  font-family: 'Oswald', sans-serif;
  box-sizing: border-box;
}

html{
  height: 100%;
}

body{
  text-align: center;
  --titulo: rgb(173, 239, 255) ;
  --menu:rgb(238, 238, 238);
  --submenu:  #33bea0;
  --bg-tela:#2255AA;
  --bg-body: #333333;
  --bg-desc: rgb(56, 56, 56);
  background-color: var(--bg-body);
}

h1{
  color: var(--titulo);
}

#tela{
  background-color: var(--bg-tela);
  border: 1px solid #FFFFFF;
}

button{
  background-color: #eff7fc;
  color: rgb(5, 5, 5);
  border: 1px solid rgb(151, 239, 255);
  width: 100px;
  height: 30px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
}

button:hover{
  background-color: rgb(151, 239, 255);
}

button:disabled{
  background-color: #dddddd;
  cursor: not-allowed;
}

#pontuacao, #energia, #qtdEnergia
{
  font-size: 20px;
  color: var(--submenu);
}

#config{
  display: flex;
  justify-content: center;
}

#menu{
  font-family: Pixel;
  display: grid;
  grid-template-rows: 40px 40px 300px;
  color: var(--menu);
  background-color: var(--bg-desc);
}